.f-1,
.f-play {
  font-family: "Play", sans-serif;
}

.f-2,
.f-patr {
  font-family: "Staatliches", cursive;
}

.f-3,
.f-quat {
  font-family: "Quattrocento", serif;
}

.hoverable {
  opacity: 1;
  transition-duration: 0.4s;
}
.hoverable:hover {
  opacity: 0.65;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.75));
}

.shadow {
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.75));
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  height: inherit;
  max-height: inherit;
  padding: 15px;
}
@media screen and (min-width : 768px) {
  .wrapper {
    width: 700px;
  }
}
@media screen and (min-width : 992px) {
  .wrapper {
    width: 960px;
  }
}

html {
  color: #444;
}

header {
  position: relative;
  width: 100%;
  overflow: hidden;
}
header .header-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #484848;
  z-index: 2;
}
header .header-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(-45deg, #666, #666 1px, #555 3px, #666 5px, #666 6px);
}
header .header-inset {
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.75);
}
header .hero {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
header .hero .hero-header {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  z-index: 1;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width : 768px) {
  header .hero .hero-header {
    line-height: 2em;
    padding: 50px 0;
  }
}
header .hero .hero-header .hero-img-box {
  display: inline;
}
header .hero .hero-header .hero-img {
  height: 50px;
}
@media screen and (min-width : 768px) {
  header .hero .hero-header .hero-img {
    height: 100px;
  }
}
header .hero .hero-header .hero-title {
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
}
@media screen and (min-width : 768px) {
  header .hero .hero-header .hero-title {
    font-size: 42px;
  }
}
header .hero .hero-header .hero-subtitle {
  color: #36a9e1;
  font-size: 14px;
  font-style: italic;
}
@media screen and (min-width : 768px) {
  header .hero .hero-header .hero-subtitle {
    font-size: 16px;
    font-weight: bold;
  }
}

main {
  position: relative;
  box-sizing: border-box;
  background-color: #ddd;
}
main::before {
  clear: both;
  content: "";
  display: table;
}
main::after {
  clear: both;
  content: "";
  display: table;
}
main section {
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
}
main section .section-header {
  font-size: 32px;
  margin-bottom: 10px;
}
main section .section-text {
  line-height: 135%;
}
main section:first-child {
  margin-top: 0px;
}
main section:last-child {
  margin-bottom: 0px;
}
main section.libraries .library {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}
main section.libraries .library:first-child {
  padding-top: 0px;
}
main section.libraries .library:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}
@media screen and (max-width : 767px) {
  main section.libraries .library {
    padding-bottom: 60px;
    border-bottom: 2px solid #ccc;
  }
}
main section.libraries .library .library-image {
  width: 100%;
}
@media screen and (min-width : 768px) {
  main section.libraries .library .library-image {
    width: 40%;
  }
}
main section.libraries .library .library-image img {
  width: 100%;
}
main section.libraries .library .library-image video {
  width: 100%;
}
main section.libraries .library .library-image .div-img-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.166%;
}
main section.libraries .library .library-image .div-img-wrapper .pbt-container {
  will-change: transform;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fcdecf;
  background: linear-gradient(135deg, #fcdecf 0%, #f17432 50%, #ea5507 51%, #fb955e 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: perspective(500px);
}
main section.libraries .library .library-image .div-img-wrapper .pbt-container .pbt-box {
  position: absolute;
  width: calc(100% - 25px);
  height: calc(100% - 25px);
  border: white solid 8px;
  transform: translateZ(60px) scale(0.8);
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.45));
}
main section.libraries .library .library-image .div-img-wrapper .pbt-container .pbt-text {
  text-align: center;
  color: white;
  transform: translateZ(120px) scale(0.8);
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.45));
  font-size: 24px;
  letter-spacing: 3px;
  line-height: 28px;
}
main section.libraries .library .library-content {
  box-sizing: border-box;
}
@media screen and (min-width : 768px) {
  main section.libraries .library .library-content {
    padding-left: 15px;
    width: 60%;
  }
}
main section.libraries .library .library-content .library-title {
  font-size: 24px;
  margin-bottom: 10px;
}
main section.libraries .library .library-content .library-links .library-link {
  display: inline-block;
  color: #b5dff4;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-color: #36a9e1;
  text-decoration-line: none;
}
main section.libraries .library .library-content .library-links:after {
  content: "";
  clear: both;
  display: table;
}
main section.libraries .library .library-content .library-description {
  line-height: 135%;
}
main section.credit .credit-list {
  line-height: 135%;
}

footer .footer-disclaimer {
  background-color: #36a9e1;
}
footer .footer-disclaimer .disclaimer-text {
  text-align: center;
  color: #b5dff4;
  font-size: 32px;
}
footer .footer-disclaimer .disclaimer-small {
  font-size: 14px;
  line-height: 135%;
}
footer .footer-footer {
  color: #ffffff;
  background-color: #484848;
  text-align: center;
}
footer .footer-footer .footer-mc {
  margin-bottom: 30px;
}
footer .footer-footer .footer-mc .mc-logo {
  display: block;
  height: 64px;
  width: 64px;
  margin: 5px auto;
  background-color: #ffffff;
  border-radius: 10px;
}
footer .footer-footer .footer-mc .mc-logo .mc-img {
  position: relative;
  top: 25%;
}
footer .footer-footer .footer-links {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
footer .footer-footer .footer-links .footer-link {
  padding: 0 5px;
}
footer .footer-footer .footer-links .footer-link i {
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
