.f-1,
.f-play {
  font-family: "Play", sans-serif;
}

.f-2,
.f-patr {
  font-family: "Patrick Hand", cursive;
}

.f-3,
.f-quat {
  font-family: "Quattrocento", serif;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  height: inherit;
  max-height: inherit;
  padding: 15px;
}
@media screen and (min-width : 768px) {
  .wrapper {
    width: 700px;
  }
}
@media screen and (min-width : 992px) {
  .wrapper {
    width: 960px;
  }
}

html {
  background-color: #ddd;
  color: #444;
}

header {
  position: relative;
  width: 100%;
}
header .header-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(-45deg, #666, #666 1px, #555 3px, #666 5px, #666 6px);
}
header .header-inset {
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.75);
}
header .hero {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
header .hero .hero-header {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  z-index: 1;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5em;
}
@media screen and (min-width : 768px) {
  header .hero .hero-header {
    line-height: 2em;
    padding: 50px 0;
  }
}
header .hero .hero-header .hero-img-box {
  display: inline;
}
header .hero .hero-header .hero-img {
  height: 50px;
}
@media screen and (min-width : 768px) {
  header .hero .hero-header .hero-img {
    height: 100px;
  }
}
header .hero .hero-header .hero-title {
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
}
@media screen and (min-width : 768px) {
  header .hero .hero-header .hero-title {
    font-size: 42px;
  }
}
header .hero .hero-header .hero-subtitle {
  color: #36a9e1;
  font-size: 14px;
  font-style: italic;
}
@media screen and (min-width : 768px) {
  header .hero .hero-header .hero-subtitle {
    font-size: 16px;
    font-weight: bold;
  }
}

main {
  position: relative;
  box-sizing: border-box;
  background-color: #ddd;
}
main::before {
  clear: both;
  content: "";
  display: table;
}
main::after {
  clear: both;
  content: "";
  display: table;
}
main section {
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
}
main section .section-header {
  font-size: 32px;
  margin-bottom: 10px;
}
main section:first-child {
  margin-top: 0px;
}
main section:last-child {
  margin-bottom: 0px;
}

footer .footer-disclaimer {
  background-color: #36a9e1;
}
footer .footer-disclaimer .disclaimer-text {
  text-align: center;
  color: #b5dff4;
  font-size: 32px;
}
footer .footer-disclaimer .disclaimer-small {
  font-size: 14px;
  line-height: 1.5em;
}
footer .footer-footer {
  color: #ffffff;
  background-color: #484848;
  text-align: center;
}
footer .footer-footer .footer-mc {
  margin-bottom: 15px;
}
footer .footer-footer .footer-mc .mc-logo {
  height: 64px;
  width: 64px;
  margin: 5px auto;
  background-color: #ffffff;
  border-radius: 10px;
}
footer .footer-footer .footer-mc .mc-logo .mc-img {
  position: relative;
  top: 25%;
}
footer .footer-footer .footer-links {
  margin-bottom: 15px;
}

/*# sourceMappingURL=style.css.map */
